@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{margin: 0px; padding: 0px;}
body {
  font-family: "Montserrat", serif;
  background-color: rgba(243, 241, 241, 0.842) !important;
}
::-webkit-scrollbar{width: 5px !important; height:5px !important;}
::-webkit-scrollbar-thumb{background:#ccc !important;}
::-webkit-scrollbar-track{background:transparent !important;}
header{
  width:100%;
  height:80px;
  background:rgba(255,255,255,0.6);
  position:fixed;
  top:0px;
  left:0px;
  z-index: 1000;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;

}
header .row{margin:0px !important;}


header .logo img{
  width: 50px;
}

header .logo span{
  color:black;
  font-weight: 800;
  text-decoration: none !important;
}
 header button.rounded-circle{
  min-width: 40px !important;
  width: 40px !important;
  height: 40px;
  border:none;
  font-size:20px;
 }
 header button.rounded-circle svg{
  color:#292929;
  font-size:18px !important;
  transition: all 0 2s ease-in-out;
 }
 header button.rounded-circle svg:hover{
  color:#0858f7 !important;
 }
.searchbox{
  width:400px;
  height:50px;
  background:#ebe6e6;
  border-radius: 6px;
  padding: 3px;
}

.searchbox input{
  background:transparent;
  border:0px;
  outline:none;
  padding-left:5px;

}

.user-image{
  display:flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border:1px solid blueviolet;
  padding:2px;
  border-radius: 100%;
}

.user-image .rounded-circle{
  display:flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor:pointer;
  position:relative;
}

.user-img img{
  object-fit: cover;
  width:100%;
  height:100%;
}

.myAcc .user-info{padding-left: 10px;}
.myAcc .user-info h4{font-size:16px;font-weight: 500;margin-bottom:0px}
.myAcc .user-info p{font-size:12px;font-weight: 500;margin-bottom:0px;opacity: 0.7;margin-top:0px;}

.part3 .rounded-circle{
  margin-left:5px;
}

.notification-menu .MuiPaper-root{
  right:15% !important;
  left:auto !important;
  width:300px !important;
  top:10% !important;
}

.dropdown-list .scrollView{
  max-height: 300px;
  overflow-y: scroll;
}

.dropdown-list .head h4{
  font-size:16px;

}
.dropdown-list li.MuiButtonBase-root{background:#c6d7ff8a !important;color:#000 !important;padding:10px 15px !important;}
.dropdown-list li.MuiButtonBase-root:hover{background:#567dd883 !important;}
.dropdown-list .head {
  padding:10px 0px;

}
.dropdownInfo{padding-left:10px;}
.dropdownInfo h4{
  font-size: 14px;
  font-weight: 500px;
  white-space: break-spaces;
  margin-top: 0px;
}

.dropdownInfo h4 b{
  font-weight:600px;
  margin-right:5px;
}
.dropdownInfo p{
  font-size: 12px;
  font-weight: 500;
}

.text-sky{
  color:#0858f7 !important;
}

.btn-blue{
  background: #0858f7 !important;
  font-size:14px !important;
  font-weight: 600 !important;
  color:white !important;
  text-transform: capitalize !important;
  border-radius: 5px;
  border:transparent;
  height:35px;
}
.content{
  width:100%;
}